<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Meditation Vue</title>
</head>
<body>
    <div id="app">
        <div class="vid-container">
            <video loop :src="video" ref="video">
            </video>
        </div>

        <div class="time-select">
            <Timer
                v-for="minute in minutes"
                :key="minute"
                :minute="minute"
                @set-timer="setTimer(minute)"
                @delete-timer="removeTimer(minute)"
            ></Timer>
            <input value="number" v-model="customMinute">
            <button @click="addTimer">Add custome time</button>
            <span class="alert" v-show="isDuplicated">There's already a timer with this value!</span>
        </div>

        <div class="player-container">
            <audio :src="audio" ref="audio">
            </audio>
            <img :src="playOrPause" alt="play" @click="playMusic"></img>
            <svg
              class="track-outline"
              width="453"
              height="453"
              viewBox="0 0 453 453"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                  cx="226.5"
                  cy="226.5"
                  r="216.5"
                  stroke="white"
                  stroke-width="20"
                />
            </svg>
            <svg
                class="moving-outline"
                width="453"
                height="453"
                viewBox="0 0 453 453"
                fill="none" xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                  cx="226.5"
                  cy="226.5"
                  r="216.5"
                  stroke="#018EBA"
                  stroke-width="20"
                  ref="outline"
                />
            </svg>
            <h2 id="timer-count">{{ timeLeft }}</h2>
        </div>
        <div class="sound-picker">
            <button @click="toggleTheme" :style="themeButtonColor">
                <img :src="soundIcon">
            </button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>

<script>
// import Timer from './Timer'


Vue.component('Timer', {
    template: `
        <div class="flex-container">
            <button
              @click="setTimer"
            >{{ minute }} minutes
            </button>
            <button class="alert" @click="deleteTimer">Delete</button>
        </div>
    `,
    props: {
        minute: Number
    },
    methods: {
        setTimer: function(){
            this.$emit('set-timer', this.minute)
        },
        deleteTimer: function(){
            this.$emit('delete-timer', this.minute)
        }
    },

})

new Vue({
    el: '#app',
    data() {
        return {
            minutes: [2, 5, 10],
            customMinute: 0,
            duration: 60,
            circleLength: 0,
            isDuplicated : false,
            playOrPause: './svg/play.svg',
            audio: './sounds/rain.mp3',
            video: './video/rain.mp4',
            soundIcon: './svg/beach.svg',
            themeButtonColor: 'background-color: #a14f49;'
        }
    },
    computed: {
        timeLeft: function(){
            return `${Math.floor(this.duration / 60)}: ${Math.floor(this.duration % 60)}`
        },
    },
    methods: {
        setTimer: function(minute){
            this.duration = minute * 60
        },
        addTimer: function(){
            const customMinute = Number(this.customMinute)
            if(this.minutes.indexOf(customMinute) != -1){
                this.isDuplicated = true
            } else{
                this.minutes.push(customMinute)
                this.isDuplicated = false
            }
            this.customMinute = 0
        },
        removeTimer: function(minute){
            this.minutes.splice(this.minutes.indexOf(minute), 1)
        },
        tiktak: function() {
            if(this.duration > 0) {
                this.duration  --
            } else {
                this.$refs.audio.pause();
                this.playOrPause = './svg/play.svg';
                this.$refs.video.pause();
            }
        },
        playMusic: function(){
            const audio = this.$refs.audio;
            const video = this.$refs.video;
            if(audio.paused) {
                audio.play();
                video.play();
                this.playOrPause = './svg/pause.svg'
                timer = setInterval(this.tiktak, 1000)
            } else {
                audio.pause();
                video.pause();
                this.playOrPause = './svg/play.svg'
                clearInterval(timer)
            }
        },
        toggleTheme: function() {
            const audio = this.$refs.audio;
            const video = this.$refs.video;
            if(!audio.paused) {
                audio.pause();
                video.pause();
                this.playOrPause = './svg/play.svg'
                this.circleLength = this.$refs.outline.pathLength;
                this.elapsed = audio.currentTime;
            }
            if (this.audio === './sounds/rain.mp3') {
                this.audio = './sounds/beach.mp3';
                this.video = './video/beach.mp4';
                this.soundIcon = './svg/rain.svg';
                this.themeButtonColor = 'background-color: #4972a1;'
            } else {
                this.audio = './sounds/rain.mp3';
                this.video = './video/rain.mp4';
                this.soundIcon = './svg/beach.svg';
                this.themeButtonColor = 'background-color: #a14f49;'
            }
            clearInterval(timer)
            this.duration = 60;
        }
    }
})

</script>