<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation Vue</title>
</head>
<body>
    <div id="app">
        <div class="vid-container">
            <video loop>
                <source src="./video/rain.mp4" type="video/mp4">
            </video>
        </div>

        <div class="time-select">
            <button
              v-for="time in minutes"
              :key="time.minute"
              :data-time="minute2seconds">{{ time.minute }} minutes</button>
            <input value="number" v-model="this.customMinute">
            <button @click="addTimer">Add custome time</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>

<script>
new Vue({
    el: '#app',
    data() {
        return {
            minutes: [2, 5, 10],
            customMinute: 0
        }
    },
    computed: {
        minute2seconds: function() {
            return this.minutes.map(minute => {
                return minute * 60
            })
        }
    },
    methods: {
        addTimer: function(){
            this.minutes.push(this.customMinute)
        }
    }
})

</script>